<!--views/categories/index.html.erb-->
<%= render 'shared/title', title: 'All Categories'%>

<% @categories.each do |category| %>
<div class='row'>
  <div class='well col-md-6'>
    <p><%= link_to category.name, categories_path %></p>
  </div>  
</div>
<% end %>